@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import "_variables.scss";

:root{
    //https://colorhunt.co/palette/35497
  --light: #eeeeee;
  --darker: #303841;
  --dark: #3a4750;
  --primary: #d72323;
}

:root {
    -webkit-font-smoothing: antialiased;
}


body{
    font-family: 'Montserrat',
    sans-serif;
    color: white;
    font-size: 1rem;
    width: 100%;
        max-width: 100%;
        overflow-x: hidden;
          line-height: 1.1;
          letter-spacing: -0.05em;
}

strong{
    color: $red;
}


a{
    text-decoration: none;
}

ul{
    list-style: none;
}

* {
    font-size: 1em;
    list-style: none;
    font-weight: normal;
    color: inherit;
    text-decoration: none;
    backface-visibility: hidden;
}


.chirp{
    background-color: var(--primary);
    color:var(--light);
      padding: 0.5em 0.75em;
      font-weight: 400;
      display: inline-flex;
      text-transform: uppercase;
      font-size: 1em;
      border-radius: 3px;
      letter-spacing: 0.1em;
}